*{
    padding: 0px;
    margin: 0px;
}


ul{
    
    
    list-style: none;     /* estilo de las listas */
}


ul{
    
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   /* Tipo de letra */
    font-size: 22px; /* Tamaño de letra */
    height: 60px;  /*Altura de cada opción de la lista */

}


ul li a{

    height: 60px; /*Altura*/
    background-color:#333; /*clor del fondo */
    display: block;
    border-left: 10px solid rgb(8, 96, 173);
    border-right: 5px solid rgb(144, 256, 111);
    padding-left: 15px;    /*Separacion de izquierda del exto  */
    text-decoration: none;
    color: #bfe1f1
}


ul li a:hover{
    margin-left: 10px;    /*separacion del lado izaquierdo */
    color: #b9b7b7;      /*Color de letra  */
    background-color: #0b1741;     /*color del fondo */
    box-shadow: 10px 10px 20px #000; /*sombra */
    transform: rotate(4deg); /*Movimineto0 d erotación */
    -moz-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
}



td{
    vertical-align: top;
    
    
}

